#dl{
   color: blue;
   width: 2cm;
}

body{
 
 background-color: aqua;

}
#dec{
    margin-left: 12cm;
}

#content{
    margin-top: 1.5cm;

}
#t1{
    width: 6cm;
    border-radius: 1cm;
    
}